<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CrowdFunder</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li ><%= link_to "Projects", projects_url %></li>
    </ul>
  </div>
</div>